@charset "UTF-8";

:root {
  --foreground-color: #000;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #000;
  }
}

* {
  font-family: "Inter";
  color: var(--foreground-color);
  background-color: var(--background-color);
}


body {
  margin: 1em;
}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


